// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// carousel
.carousel-item {
    height: 100vh;
    /* Tinggi yang diinginkan */
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
    width: 100%;
    object-fit: cover;
    /* Pastikan gambar menutupi seluruh area tanpa mengubah rasio aspek */
}

//footer
.footer {
    padding: 20px 0;
    background-color: #f0f0f0;
    text-align: center;
}